.banner{
    background-image: linear-gradient(to right, rgba(0,0,0,0.2),rgba(40, 109, 237, 0.6)), url('./Images/tech-quote.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    
    
}